assets/logicapp-template.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": {
        "description": "Location for all resources."
      }
    },
    "connections_sql_name": {
      "defaultValue": "AdventureWorksConnection",
      "type": "string",
      "metadata": {
        "description": "The name of the connection to Azure SQL created for Logic Apps."
      }
    },
    "backendLogicApp": {
      "defaultValue": "SalesOrderInsertLogicApp",
      "type": "string",
      "metadata": {
        "description": "Name of the backend Logic App"
      }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('connections_sql_name')]",
      "location": "westeurope",
      "properties": {
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/3db3de38-06c5-444a-9969-3dc580dbfe99/providers/Microsoft.Web/locations/westeurope/managedApis/sql')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('backendLogicApp')]",
      "location": "westeurope",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('connections_sql_name'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "CustomerID": {
                      "type": "integer"
                    },
                    "ProductID": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "actions": {
            "For_each_SalesOrderID": {
              "foreach": "@body('Generate_SalesOrderID')?['resultsets']?['Table1']",
              "actions": {
                "For_each_SalesOrderDetailID": {
                  "foreach": "@body('Generate_SalesOrderDetailID')?['resultsets']?['Table1']",
                  "actions": {
                    "Insert_row_into_SalesOrderDetail": {
                      "runAfter": {},
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "ModifiedDate": "@{utcNow()}",
                          "OrderQty": 1,
                          "ProductID": "@triggerBody()?['ProductID']",
                          "SalesOrderID": "@items('For_each_SalesOrderID')?['SalesOrderID']",
                          "UnitPrice": 100,
                          "UnitPriceDiscount": 0,
                          "rowguid": "@{guid()}"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sql']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[SalesLT].[SalesOrderDetail]'))}/items"
                      }
                    }
                  },
                  "runAfter": {
                    "Insert_row_into_SalesOrderHeader": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Insert_row_into_SalesOrderHeader": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "body": {
                      "CustomerID": "@triggerBody()?['CustomerID']",
                      "DueDate": "@{utcNow()}",
                      "Freight": 0,
                      "ModifiedDate": "@{utcNow()}",
                      "OnlineOrderFlag": false,
                      "OrderDate": "@{utcNow()}",
                      "RevisionNumber": 1,
                      "SalesOrderID": "@items('For_each_SalesOrderID')?['SalesOrderID']",
                      "ShipMethod": "CARGO TRANSPORT 5",
                      "Status": 5,
                      "SubTotal": 100,
                      "TaxAmt": 0,
                      "rowguid": "@{guid()}"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sql']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[SalesLT].[SalesOrderHeader]'))}/items"
                  }
                }
              },
              "runAfter": {
                "Generate_SalesOrderDetailID": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Generate_SalesOrderDetailID": {
              "runAfter": {
                "Generate_SalesOrderID": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "query": "SELECT NEXT VALUE FOR SalesOrderDetailID_seq as SalesOrderDetailID"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sql']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/default/query/sql"
              }
            },
            "Generate_SalesOrderID": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "query": "SELECT NEXT VALUE FOR SalesOrderID_seq as SalesOrderID"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sql']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/datasets/default/query/sql"
              }
            },
            "Response": {
              "runAfter": {
                "For_each_SalesOrderID": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_sql_name'))]",
                "connectionName": "[parameters('connections_sql_name')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId ,'/providers/Microsoft.Web/locations/', parameters('location') ,'/managedApis/sql')]"
              }
            }
          }
        }
      }
    }
  ]
}
